In [1]:
# Import encoder and pandas
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [2]:
# Create simple dataframe
data = {
    'product':['phone', 'tv', 'headphones', 'laptop', 'tablet', 'microsoft'],
    'category':['smartphones', 'license', 'electronics', 'electronics', 'electronics','license'],
    'price':[700,20,300,1000,800,40]
}

df = pd.DataFrame(data)
df

      product     category  price
0       phone  smartphones    700
1          tv      license     20
2  headphones  electronics    300
3      laptop  electronics   1000
4      tablet  electronics    800
5   microsoft      license     40

In [3]:
# object OHE
encoder = OneHotEncoder(sparse_output=False) # sparse parameter used for the np.array output

In [4]:
# transform some features
encoded_product = encoder.fit_transform(df[['product']])

# get output columns
encoded_columns = encoder.get_feature_names_out(['product'])

# setup new dataframe with new columns
encoded_df = pd.DataFrame(encoded_product, columns=encoded_columns)

In [6]:
# insert new columns to the df
df = pd.concat([df, encoded_df], axis=1)

# and drop the older 'product' feature from df
df.drop(columns='product', axis=0)

,category,price,product_headphones,product_laptop,product_microsoft,product_phone,product_tablet,product_tv,product_headphones,product_laptop,product_microsoft,product_phone,product_tablet,product_tv
0,smartphones,700,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,license,20,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,electronics,300,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,electronics,1000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,electronics,800,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,license,40,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0